<header>
    <div>
      <div class="menu icon"></div>
    </div>
    <h1>Yasmin</h1>
  </header>
  <section id="navegacao">
    <nav>
      <a href="/">Home</a>
      <a href="/quem-eramos">Quem Éramos</a>
      <a href="/quem-somos">Quem Somos</a>
      <a href="">Quem Seremos</a>
    </nav>
    <div>
      <div class="search icon"></div>
      <h2>Pesquisa:</h2>
      <input type="text" placeholder="Busque seu tijolo">
    </div>
  </section>