<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tio Jolos - tijolos gourmet</title>
  <link rel="stylesheet" href="assets/css/imports.css">
  <link rel="stylesheet" href="assets/css/estilo.css">
  <link rel="stylesheet" href="assets/css/470.css">
  <link rel="stylesheet" href="assets/css/800.css">
  <link rel="stylesheet" href="assets/css/1111.css">
  <script defer src="assets/js/script.js"></script>
</head>