<header>
    <div>
      <div class="menu icon"></div>
    </div>
    <h1>bady brasil suplementos</h1>
  </header>
  <section id="navegacao">
    <nav>
      <a href="/">Home</a>
      <a href="/quem-eramos">quem sou</a>
      <a href="/quem-somos">oque gosto de fazer</a>
      <a href="">...</a>
    </nav>
    <div>
      <div class="search icon"></div>
      <h2>Pesquisa:</h2>
      <input type="text" placeholder="Busque seu tijolo">
    </div>
  </section>