<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Yasmin</title>
</head>
<body>
  
  <% for(let produto of produtos){ %>
      <div class="produto">
        <img src="<%= produto.imagem %>" alt="metade">
        <p><%= produto.descricao %></p>
        <p><%= produto.preco %></p>

        <form method="POST">
          <input type="hidden" name="id" value="<%= produto._id %>">
          <button type="">Remover</button>  
        </form>
      </div>
    <% } %>
  
</body>
</html>